{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/error404.css' %}">
{% endblock %}

{% block content %}
	<main>
        <section class="section-1">
            <div class="section-1__content-wrapper">
                <div class="section-1__header">
                    <h1 class="section-1__header-delivery">Ошибка 404</h1>
                </div>

                <h3 class="section-1__description">
                    Такой страницы не существует. Маршрут перестроен.
                </h3>

                <a href="{% url 'index' %}">
                    <div class="go-to-main-button">
                        ВЕРНУТЬСЯ НА ГЛАВНУЮ
                    </div>
                </a>

                <div class="section-1__route-wrapper">
                    <img src="{% static 'images/map-point.svg' %}" alt="" class="section-1__map-point">
                    <img src="{% static 'images/route-1.svg' %}" alt="" class="section-1__route">
                </div>

                <img src="{% static 'images/stock.svg' %}" alt="" class="section-1__stock">
            </div>
        </section>
    </main>
{% endblock %}

{% block js %}
    <script defer src="{% static 'js/dropdown-menu.js' %}"></script>
{% endblock %}
