{% load static %}
<footer>
    <div class="footer__logo">
        <img src="{% static 'images/logo.svg' %}" alt=""/>
    </div>

    <div class="footer__intelligence">
        {{ ip.info | safe }}
        {{ inn.info | safe }}
    </div>

    <div class="footer__links">
        <a href="{% url 'privacy' %}">
            <span> Политика конфиденциальности </span>
        </a>
        <a href="{% url 'rules' %}">
            <span> Полные правила </span>
        </a>
    </div>

    <div class="contacts">
        <div class="contacts__tel-group">
            <a class="contacts__number" href="{{ Telephone.url }}">
                {{ Telephone.display }}
            </a>
            <div class="contacts__description">
                {{ schedule.info | safe }}
            </div>
        </div>

        <div class="contacts__messenger-group">
            <div class="contacts__messenger-icon">
                <a href="{{ Whatsapp.url }}">
                    <img src="{% static 'images/wa.svg' %}" alt=""/>
                </a>
            </div>
            <div class="contacts__messenger-icon">
                <a href="{{ Telegram.url }}">
                    <img src="{% static 'images/tg.svg' %}" alt=""/>
                </a>
            </div>
        </div>
    </div>
</footer>