{% extends 'products/base.html' %}
{% load static %}

{% block css %}
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
    <link rel="stylesheet" href="{% static 'css/main.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/footer.css' %}">
    <link rel="stylesheet" href="{% static 'css/form.css' %}">
    <link rel="stylesheet" href="{% static 'css/contacts.css' %}">
    <link rel="stylesheet" href="{% static 'css/modal.css' %}">
{% endblock %}

{% block content %}
    <main>
        <section class="section-1">
            <div class="section-1__content-wrapper">
                <div class="section-1__header">
                    <h1 class="section-1__header-delivery">Курьерская доставка</h1>
                    <h2 class="section-1__header-area">
                        для интернет-магазинов в пределах Москвы и МО
                    </h2>
                </div>

                <h3 class="section-1__description">
                    Обеспечим вашему бизнесу доставку точно в срок и с удобной
                    возможностью оплаты заказов для вас и ваших клиентов
                </h3>

                <form class="form" method="post" action="{% url 'receive_form' %}">
                    {% csrf_token %}
                    <div class="form__tel-wrapper">
                        <label>
                            <input class="form__tel" name="telephone" type="tel" placeholder="Введите номер телефона"/>
                        </label>
                        <button class="form__callback">ПЕРЕЗВОНИТЕ МНЕ</button>
                    </div>

                    <div class="form__checkbox-wrapper">
                        <div class="form__checkbox checkbox-container">
                            <i class="fa-solid fa-check toggle-checkbox"></i>
                            <input class="checkbox-input" name="checkbox" type="hidden" value="false">
                            <input name="callback-type" type="hidden" value="Перезвонить">
                        </div>
                        <span class="form__agreement">Я согласен с <a class="form__link" href="{% url 'privacy' %}">политикой конфиденциальности</a></span>
                    </div>
                </form>

                <div class="section-1__97-wrapper">
                    <div class="section-1__97">
                        <div class="section-1__97-ellipse">
                            <div class="section-1__percents">
                                {{ success.info | safe }}
                            </div>
                            <p class="section-1__orders">заказов</p>
                        </div>
                        <div class="section-1__97-description">
                            {{ period.info | safe }}
                        </div>
                    </div>
                </div>

                <div class="section-1__route-wrapper">
                    <img src="{% static 'images/map-point.svg' %}" alt="" class="section-1__map-point">
                    <img src="{% static 'images/route-1.svg' %}" alt="" class="section-1__route">
                </div>

                <img src="{% static 'images/stock.svg' %}" alt="" class="section-1__stock">
            </div>
        </section>

        <section class="section-2" id="rates">
            <div class="section-2__content-wrapper">
                <h2 class="section-2__header">Стоимость курьерских услуг</h2>

                <h3 class="section-2__description">
                    Вес и стоимость в таблице указаны для одной доставки
                </h3>


                <div class="section-2__table-wrapper">
                    <div class="section-2__table">
                        {% for row in TableRows %}
                            <div class="section-2__table-row">
                                <div class="section-2__table-cell">{{ row.name }}</div>
                                <div class="section-2__table-cell">{{ row.first }}</div>
                                <div class="section-2__table-cell">{{ row.second }}</div>
                                <div class="section-2__table-cell">{{ row.third }}</div>
                                <div class="section-2__table-cell">{{ row.fourth }}</div>
                            </div>
                        {% endfor %}
                    </div>

                    <div class="section-2__route1"></div>
                    <div class="section-2__route2"></div>
                </div>


                <div class="section-2__auto-wrapper">
                    <img src="{% static 'images/auto.svg' %}" alt="" class="section-2__auto">
                    <img src="{% static 'images/s2-route1.svg' %}" alt="" class="section-2__route-1">
                    <img src="{% static 'images/s2-route2.svg' %}" alt="" class="section-2__route-2">
                </div>
            </div>
        </section>

        <section class="section-3">
            <h2 class="section-3__header">
                Организация процессов без лишней бюрократии
            </h2>

            <h3 class="section-3__description">
                Быстро. Удобно. Понятно
            </h3>

            <div class="section-3__info-blocks-wrapper">

                {% for card in ProcessesCards %}
                    <div class="section-3__block">
                        <div class="section-3__block-header">
                            <div class="section-3__block-number">{{ forloop.counter }}</div>

                            <div class="section-3__block-description">
                                {{ card.title | safe }}
                            </div>
                        </div>

                        <div class="section-3__block-text">
                            {{ card.content | safe }}
                        </div>

                        {% if card.link_title and card.link_url %}
                        	<a class="section-3__block-link" href="{{ card.link_url }}">{{ card.link_title }}</a>
                        {% endif %}
                    </div>
                {% endfor %}

                <div class="section-3__images-wrapper">
                    <img src="{% static 'images/box.svg' %}" alt="" class="section-3__box1 box">
                    <img src="{% static 'images/box.svg' %}" alt="" class="section-3__box2 box">
                    <img src="{% static 'images/box.svg' %}" alt="" class="section-3__box3 box">
                    <img src="{% static 'images/box.svg' %}" alt="" class="section-3__box4 box">
                </div>
            </div>

            <a class="section-3__more-details" href="{% url 'rules' %}">
                Подробнее
            </a>

            <div class="section-3__house-wrapper">
                <img src="{% static 'images/s3-route.svg' %}" alt="" class="section-3__route">
                <img src="{% static 'images/map-point.svg' %}" alt="" class="section-3__map-point">
                <img src="{% static 'images/house.svg' %}" alt="" class="section-3__house">
            </div>
        </section>

        <section class="section-4">
            <div class="section-4__header">
                Работая с нами, вы на 100 % соблюдаете 54-ФЗ
            </div>

            <div class="section-4__description">
                <div class="section-4__description-block">
                    <p>
                        Курьеры Dostaver не ограничены лишь наличным методом приёма
                        выручки.
                    </p>
                </div>
                <div class="section-4__description-block">
                    <p>
                        Каждый курьер имеет при себе мобильный терминал aQsi 5 со
                        встроенным эквайрингом.
                    </p>
                </div>
                <div class="section-4__description-block">
                    <p>Ваши клиенты могут по факту оплачивать заказ картой</p>
                    <p>и получать бумажный кассовый чек.</p>
                </div>
            </div>

            <form class="form" method="post" action="{% url 'receive_form' %}">
                {% csrf_token %}
                <div class="form__tel-wrapper">
                    <label>
                        <input class="form__tel" name="telephone" type="tel" placeholder="Введите номер телефона"/>
                    </label>
                    <button class="form__callback">ОБСУДИТЬ СОТРУДНИЧЕСТВО</button>
                </div>

                <div class="form__checkbox-wrapper">
                    <div class="form__checkbox checkbox-container">
                        <i class="fa-solid fa-check toggle-checkbox"></i>
                        <input class="checkbox-input" name="checkbox" type="hidden" value="false">
                        <input name="callback-type" type="hidden" value="Сотрудничество">
                    </div>
                    <span class="form__agreement">Я согласен с <a class="form__link" href="{% url 'privacy' %}">политикой конфиденциальности</a></span>
                </div>
            </form>

            <div class="section-4__images">
                <img src="{% static 'images/payment.svg' %}" alt="" class="section-4__payment">
            </div>
        </section>

        <section class="section-5">
            <div class="section-5__content-wrapper">
                <div class="section-5__header">Важная информация</div>

                <div class="section-5__information-blocks-wrapper">
                    {% for block in ImportantInformation %}
                        <div class="section-5__information-block section-5__information-block_w33">
                            <i class="fa-solid fa-circle-info"></i>
                            <p>{{ block.content | safe }}</p>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="section-6">
            <div class="section-6__content-wrapper">
                <div class="section-6__header">
                    Ваши клиенты будут в курсе о статусе своих доставок
                </div>

                <div class="section-6__description">
                    Вашим менеджерам не придётся заниматься дополнительной работой и
                    отвечать всем клиентам, когда они получат свои посылки.
                    <span>Информирование мы полностью берём на себя.</span> Связываемся
                    с вами только в случае необходимости, если клиент не выходит на
                    связь
                </div>

                <div class="section-6__cards">
                    {% for card in InformationCards %}
                        <div class="section-6__card">
                            <div class="section-6__card-icon">{{ card.icon | safe }}</div>

                            <div class="section-6__card-header">{{ card.title }}</div>

                            <div class="section-6__card-description">{{ card.description }}</div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </section>

        <section class="section-7">
            <div class="section-7__content-wrapper">
                <div class="section-7__header">
                    Мой опыт — ваша гарантия качественных услуг доставки
                </div>

                <div class="section-7__description">
                    <p>
                        Будем знакомы — <span>Владислав Каткаев</span>, основатель
                        курьерской службы Dostaver, лично контролирую работу курьеров.
                    </p>
                </div>

                <div class="section-7__images">
                    <img src="/media/{{ OwnerPhoto }}" alt="" class="section-7__photo">

                    {% for circle in InformationCircles %}
                        <div class="section-7__info-circle section-7__info-circle-{{ circle.id }}">
                            <div class="section-7__info-circle-header">{{ circle.title }}</div>
                            <div class="section-7__info-circle-description">
                                <p>{{ circle.description }}</p>
                            </div>
                        </div>
                    {% endfor %}

                    <div class="section-7__info-circle section-7__statistics">
                        <div class="section-7__info-circle-header">{{ Statistics.title }}</div>
                        <div class="section-7__info-circle-description">
                            {{ Statistics.description }}
                        </div>
                        <img src="/media/{{ StatisticsPhoto }}" alt=""/>
                        <a class="section-7__statistics-link" href="{% url 'notfound' %}">
                            <span> Посмотреть профиль </span>
                        </a>
                    </div>
                    <img src="{% static 'images/section-7-auto.svg' %}" alt="" class="section-7__auto">
                </div>
            </div>
        </section>

        <section class="section-8">
            <div class="section-8__content-wrapper">
                <div class="section-8__header">
                    <p>Отправляйте заявку, чтобы обсудить</p>
                    <p>условия сотрудничества</p>
                </div>

                <div class="section-8__description">
                    <p>или свяжитесь с нами как вам будет удобно — по телефону</p>
                    <p>либо в одном из мессенджеров</p>
                </div>

                <form class="form" method="post" action="{% url 'receive_form' %}">
                    {% csrf_token %}
                    <div class="form__tel-wrapper">
                        <label>
                            <input class="form__tel" name="telephone" type="tel" placeholder="Введите номер телефона"/>
                        </label>
                        <button class="form__callback">БЕСПЛАТНАЯ КОНСУЛЬТАЦИЯ</button>
                    </div>

                    <div class="form__checkbox-wrapper">
                        <div class="form__checkbox checkbox-container">
                            <i class="fa-solid fa-check toggle-checkbox"></i>
                            <input class="checkbox-input" name="checkbox" type="hidden" value="false">
                            <input name="callback-type" type="hidden" value="Консультация">
                        </div>
                        <span class="form__agreement">Я согласен с <a class="form__link" href="{% url 'privacy' %}">политикой конфиденциальности</a></span>
                    </div>
                </form>

            </div>
        </section>

      <div id="thanks" class="modal">
      <div class="modal-content">
        <img src="{% static 'images/thanks.svg' %}" alt="" class="thanks__image">
        <h2>Спасибо за заявку!</h2>
        <p>В ближайшее время мы свяжемся с вами</p>
        <i class="fa-solid fa-xmark close-icon"></i>
      </div>
    </div>
    </main>
{% endblock %}

{% block js %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
    <script src="{% static 'js/close-modal.js' %}"></script>
    <script src="{% static 'js/toggle-checkboxes.js' %}"></script>
    <script src="{% static 'js/dropdown-menu.js' %}"></script>
    <script src="{% static 'js/scroll-to-top-button.js' %}"></script>
    <script src="{% static 'js/validate-tel.js' %}"></script>
    <script src="{% static 'js/form.js' %}"></script>
    <script src="{% static 'js/phone-mask.js' %}"></script>
{% endblock %}
