.contacts {
    display: flex;
    justify-content: right;
}

.contacts__tel-group {
    display: flex;
    flex-direction: column;
    color: white;
}

.contacts__tel-group {
    font-size: 1.6rem;
    font-weight: 400;
}

.contacts__tel-group > a {
    font-size: 2.4rem;
}

.contacts__number {
    font-weight: 500;
}

.tel-desc > span {
    font-weight: bold;
}

.contacts__messenger-group {
    display: flex;
    margin-left: 2.6rem;
}

.contacts__messenger-icon {
    margin-left: 0.6rem;
}

.contacts__messenger-icon:first-child {
    margin-left: 0;
}

@media (max-width: 1000px) {

    .contacts__number {
        font-size: 2rem;
    }

    .contacts__tel-group a {
        font-size: 2rem;
    }

    .contacts__description {
        font-size: 1.2rem;
    }

    .contacts__tel-group {
        font-size: 1.2rem;
        font-weight: 400;
    }
}