main {
    margin-bottom: -0.6rem;
    align-self: end;
}

.content-wrapper {
    min-height: 93.5rem;
    height: calc(100vh - 12rem);
    display: flex;
    flex-direction: column;
    justify-content: end;
}

.section-1 {
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 76.4rem;
    width: 100%;
}

.section-1__content-wrapper {
    overflow: hidden;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    height: 100%;
    max-width: 192rem;
    width: 100%;
    background: center / cover no-repeat url("../images/s1-background.svg");
}

.section-1__images-wrapper {
    position: relative;
    height: 100%;
}

.section-1__header {
    margin-top: 6.6rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: #fff
}

.section-1__header-delivery {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-size: 7.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 6.6rem;
    margin-bottom: 1rem;
}

.section-1__header-area {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-size: 4.2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 5.8rem;
    margin-bottom: 3rem;
}

.section-1__description {
    font-family: "Golos Text", sans-serif;
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: 3.2rem;
    text-align: center;
    max-width: 75.9rem;
    width: 100%;
    margin-bottom: 5rem;
    color: #FFF;
}

.section-1__97-wrapper {
    position: absolute;
    top: calc(50% - 14rem);
    right: calc(50% + 35rem);
}

.section-1__97 {
    display: flex;
    flex-direction: column;
    align-items: center;
    rotate: -21.242deg;
}

.section-1__97-ellipse {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width: 12.8rem;
    height: 12.8rem;
    border-radius: 50%;
    color: #4C0085;
    background-color: #fff;
}

.section-1__percents {
    font-size: 3.6rem;
}

.section-1__orders {
    font-size: 1.8rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.section-1__97-description {
    color: #fff;
    text-align: center;
    font-size: 1.4rem;
    width: 13.6rem;
    margin-top: 1rem;
}

.section-1__97-description span {
    font-weight: bold;
}

.section-1__stock {
    display: none;
    margin-bottom: 6rem;
}

.section-1__route {
    display: none;
}

.section-1__route-wrapper {
    display: none;
    position: relative;
}

.go-to-main-button {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 8.6rem;
    width: 28.4rem;
    background: linear-gradient(180deg, #FFE149 0%, #FFD500 100%);
    color: #3E3300;
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
    font-size: 1.4rem;
    line-height: 3rem;
    border-radius: 4.3rem;
    margin-bottom: 4rem;
}

.go-to-main-button:hover {
    cursor: pointer;
}

@media (max-width: 1100px) {
    .section-1__header-delivery {
        font-size: 4.8rem;
        line-height: 4.8rem;
    }

    .section-1__header-area {
        font-size: 2.4rem;
        line-height: 4rem;
    }

    .section-1__description {
        font-size: 1.6rem;
        line-height: 2.4rem;
    }

    .section-1__97-wrapper {
        position: static;
        margin-bottom: 4.5rem;
    }

    .section-1__97 {
        rotate: none;
    }

    .section-1__stock {
        display: block;
        width: 26rem;
        height: 15.8rem;
    }

    .section-1__route {
        position: absolute;
        display: block;
        top: -2.1rem;
        right: -16rem;
        transform: rotate(5.009deg);
    }

    .section-1 > * {
        padding: 0 3rem;
    }

    .section-1 {
        height: auto;
    }

    .section-1__content-wrapper {
        background-image: none;
    }

    .section-1__route-wrapper {
        display: block;
        margin-bottom: 2rem;
    }

    main {
        margin-bottom: 0;
    }

    .content-wrapper {
        min-height: 93.5rem;
        height: fit-content;
        display: flex;
        flex-direction: column;
        justify-content: end;
    }

    footer {
        min-height: 44rem;
    }

    .section-1__content-wrapper {
        background-image: none;
    }

    .section-1__route-wrapper {
        display: block;
        margin-bottom: 2rem;
    }
}

body {
    display: grid;
    grid-template-rows: 12rem minmax(calc(100vh - 29rem), auto) 17rem;
}