main {
    display: flex;
    flex-direction: column;
}

section {
    max-width: 112rem;
    align-self: center;
    margin: 0 3rem 6rem;
}

.h2-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 6.3rem;
    margin-bottom: 5.8rem;
}

h2 {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-size: 4.6rem;
    font-weight: 400;
    line-height: 6.6rem;
    text-align: center;
}

.h3-wrapper {
    margin-top: 4rem;
    margin-bottom: 3rem;
}

h3 {
    font-family: "Golos Text", sans-serif;
    font-size: 2rem;
    line-height: 2.4rem;
}

p {
    font-family: "Golos Text", sans-serif;
    font-size: 1.4rem;
    line-height: 2.4rem;
}

#load-more-button {
    display: none;
    font-family: "Golos Text", sans-serif;
    font-size: 1.6rem;
    line-height: 2.4rem;
    font-weight: 600;
    margin-top: 3rem;
    padding-bottom: 4px;
    border-bottom: #fff dashed 1px;
}

#load-more-button:hover {
    cursor: pointer;
}

.privacy-block {
    display: block;
}

@media (max-width: 1000px) {
    h2 {
        font-size: 2.8rem;
        line-height: 3rem;
    }

    #load-more-button {
        display: inline-block;
    }

    .privacy-block.hidden {
        display: none;
    }
}
