main {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.section-1 {
    display: flex;
    flex-direction: column;
    max-width: 100rem;
    padding: 0 3rem;
    width: 100%;
}

.section-1 > h2,
.section-1 > i,
.section-1 > h3 {
    align-self: center;
}

.h2-wrapper {
    text-align: center;
    margin-top: 9rem;
    margin-bottom: 6rem;
}

h2 {
    font-family: "Museo Sans Cyrl", sans-serif;
    font-size: 4.6rem;
    line-height: 6.6rem;
    font-weight: 400;
}

.delivery-icon {
    font-size: 2.4rem;
}

.h3-wrapper {
    text-align: center;
    margin-top: 2rem;
    margin-bottom: 3rem;
}

h3 {
    font-family: "Golos Text", sans-serif;
    font-size: 3rem;
    line-height: 3rem;
    font-weight: 600;
}

.section-1__rules-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
}

.section-1__rule {
    display: flex;
    flex-direction: row;
    gap: 3rem;
    align-items: center;
    padding: 5rem;
    background-color: #fff;
    border-radius: 3.8rem;
    max-width: 60rem;
    width: 100%;
    flex-wrap: wrap;
}

.section-1__rule-number {
    display: flex;
    align-items: center;
    justify-content: center;
    min-width: 6rem;
    height: 6rem;
    border-radius: 50%;
    background-color: #7700D1;
    color: #fff;
    font-size: 2rem;
    line-height: 3rem;
    font-family: "Golos Text", sans-serif;
    font-weight: 600;
}

.section-1__rule-description {
    width: calc(100% - 9rem);
}

.section-1__rule {
    color: #4C0085;
    font-family: "Golos Text", sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
}

.rule-1 {
    align-self: start;
}

.rule-2 {
    align-self: end;
}

.rule-3 {
    align-self: center;
}

.section-1__rule-content-wrapper {
    display: flex;
    flex-direction: column;
    gap: 3rem;
    color: #4C0085;
    font-family: "Golos Text", sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
    min-width: 100%;
}

.section-1__rule-content-wrapper span {
    font-weight: 600;
}

.rule-4 {
    align-self: start;
}

.rule-5 {
    align-self: end;
}

.rule-6 {
    align-self: start;
}

.rule-7 {
    align-self: end;
}

@media (max-width: 800px) {
    .section-1__rule {
        flex-direction: column;
    }

    .section-1__rule-description {
        width: 100%;
    }

    h2 {
        font-size: 3.6rem;
        line-height: 4rem;
    }

    h3 {
        font-size: 2.4rem;
        line-height: 3rem;
    }
}

.section-2 {
    margin-top: 8rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    padding: 0 3rem;
}

.box-icon {
    font-size: 2.4rem;
}

.section-2__text-wrapper {
    display: flex;
    max-width: 76rem;
    text-align: center;
    flex-direction: column;
    gap: 3rem;
    font-size: 1.8rem;
    align-items: center;
}

.section-2 span {
    font-weight: 600;
}

.section-3 {
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 3.4rem;
    text-align: center;
    margin-top: 13.2rem;
    padding: 0 3rem;
}

.information-icon {
    font-size: 2.4rem;
}

.tables-wrapper {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    max-width: 85.2rem;
    gap: 3rem;
}

.table {
    flex: 1;
    min-width: 25rem;
    border-radius: 3.8rem;
    border: #fff solid 1px;
    overflow: hidden;
    height: min-content;
}

.table-cell {
    font-family: "Golos Text", sans-serif;
    font-size: 1.8rem;
    line-height: 2.4rem;
    font-weight: 500;
    min-height: 8rem;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 3rem;
    border-bottom: #fff 1px solid;
}

.table-cell span {
    font-weight: 600;
}

.table-cell:first-child {
    font-weight: 600;
    background-color: #fff;
    color: #4C0085;
}

.table-cell:last-child {
    border-bottom: none;
}

.section-4 {
    display: flex;
    justify-content: center;
    column-gap: 6rem;
    row-gap: 3rem;
    flex-wrap: wrap;
    padding: 0 3rem;
    margin-top: 8rem;
    margin-bottom: 15rem;
}

.block {
    display: flex;
    flex-direction: column;
    align-items: center;
    max-width: 45rem;
    text-align: center;
    gap: 3rem;
}

.block > i {
    font-size: 2.4rem;
}

.block > p {
    font-family: "Golos Text", sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
}

.block > p > span {
    font-weight: 600;
}

.report-sample {
    font-family: "Golos Text", sans-serif;
    font-size: 1.8rem;
    line-height: 2.8rem;
    font-weight: 400;
    border-bottom: #fff dashed 1px;
}

@media (max-width: 1000px) {
    .section-4 {
        margin-top: 6rem;
        margin-bottom: 6rem;
    }

    .section-3,
    .section-2 {
        margin-top: 5rem;
    }
}