/* transform: translate(-50%, -50%) */
@import url("https://fonts.googleapis.com/css2?family=Golos+Text:wght@400;500&display=swap");
@font-face {
  font-family: "Museo Sans Cyrl";
  src: url("../fonts/MuseoSansCyrl.woff2") format("woff2");
}

* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: 10px;
  color: #fff;
}

body {
  font-family: "Golos Text", sans-serif;
  background-color: #7700d1;
  position: relative;
}

a {
  color: #fff;
  text-decoration: none;
}

main {
  overflow: hidden;
}

@keyframes slide-in {
  from {
    bottom: -50px; /* Исходное положение кнопки за пределами экрана */
  }
  to {
    bottom: 20px; /* Конечное положение кнопки после анимации */
  }
}

button#scrollToTopButton {
  position: fixed;
  bottom: 20px; /* Исходное положение кнопки за пределами экрана */
  right: 20px;
  background-color: #7700D1;
  border: #fff solid 2px;
  color: #fff;
  border-radius: 50%;
  width: 6rem;
  height: 6rem;
  z-index: 5;
  cursor: pointer;
  animation: slide-in 0.5s ease-in-out; /* Удалите задержку */
}


button#scrollToTopButton.hidden {
  display: none;
}

button#scrollToTopButton.visible {
  display: block;
}